#assignment{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body{
  margin: 0px;
  overflow: hidden;
  background-color: dimgray;
}

.appDiv{
  height: 80%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.developerInfo{
  font-size: 12px;
  margin-top: 30px;
  margin-left: 800px;
}
