

.searchIcon{
  background-image: url(../images/search_icon.png);
  background-repeat: no-repeat;
  background-position-x: 0px;
  background-position-y: 0px;
  width: 16px;
  height: 20px;
  cursor: pointer;
}



.searchBar{
  background-color: #f6eeee;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.searchInput{

  width: 50%;
  background-color: transparent;
  border: 0px;
  outline: 0px;
  color: #ab4c4c;
  font-family: Helvetica;
  font-style: italic;
  font-size: 12px;
}

.searchCrossBtn{
  background-image: url("../images/cross.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  cursor: pointer;
}
